.leftcontainer{
    margin-right: 10px;
}
.middlecontainer{
    margin-right: 10px;
}
.card{
    height: 750px;
    box-shadow: 5px 5px 5px black;
}
body{
    background: #CAD5E2;
}
.container-fluid{
    
    margin-bottom:10px;
background: whitesmoke;
height:100px;
}
